Django==5.1.6
djangorestframework==3.15.2
python-dotenv==1.0.1
qrcode==8.0
reportlab==4.2.5
whitenoise==6.8.2
gunicorn==23.0.0
dj-database-url==2.3.0
psycopg[binary]==3.2.5
Pillow==11.0.0
cryptography==42.0.1
djangorestframework-simplejwt==5.4.0
